#test {
  color: blue;
}

#map {
  width: 50%;
  height: 400px;
  background-color: grey;
}

.main-search {
  margin: 12% 10%;
}

.trip-card {
  margin: 0% 0%;
}

.row.match-my-cols {
    overflow: hidden;
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.card-height {
  height: 380px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.card-content {
  padding-left: 0px;
}

div.subtitle.is-6 {
  margin: 0 auto;
}

.title:not(.is-spaced) + .subtitle {
    margin-top: -1.5rem;
    margin-bottom: 0 auto;
}

#experience {
  padding-left: 15px;
}

.div.ais-SearchBox__wrapper {
  max-width: 100%;
}

form.ais-SearchBox__root {
  max-width: 100%;
}

input.ais-SearchBox__input {
  font-size: 26px;
  height: 54px;
}

ul.ais-Pagination__root {
  text-align: center;
  width: 100%;
  border: none;
  box-shadow:none;
}

.ais-Pagination__root .ais-Pagination__item {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  padding: 3px;
  margin: 1px;
  border-color: #ddd;
  background: transparent;
}

.ais-Pagination__item .ais-Pagination__itemLink {
  display: block;
  color: #000000;
  line-height: 30px;
  width: 30px;
  height: 30px;

}

.ais-Pagination__item.ais-Pagination__itemSelected.ais-Pagination__itemPage {
  background: #22d0b2;
  width: 37px;
}

.ais-Pagination__item.ais-Pagination__itemPage {
  width: 37px;
}

.ais-Pagination__itemLink .ais-Pagination__itemLinkDisabled {
 width: 37px;
}

.ais-Pagination__item.ais-Pagination__itemSelected.ais-Pagination__itemPage .ais-Pagination__itemLink {
  color: #FFFFFF;
  border-color: #22d0b2;
}

.ais-Pagination__itemDisabled {
  visibility: hidden;
}

div.card.trip-card.card-height {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: none;
}

/*=====Post a Trip=====*/

.uploadImage {
  background-color: grey;
  height: 500px;
  width: 488px;
}

.uploadButton {
  margin-top: 50%;
  margin-left: 35%;
}

.uploadImagePicture {
  height: 500px;
  width: 388px;
  margin-top: 20%;
}


/*===== Nav =====*/

.invite-pop-up {
  padding: 0px 10px;
}

.nav-pos-1 {
  position: fixed;
}


/*===== Post Trip =====*/

#label {
  padding: 0px;
}

/*===== OneSpot leaflet map only =====*/
#mapid {
  height: 100%;
}

.infoBox-popup-box {
  background-color: #fff;
  padding: 12px;
}

.infoBox-popup-content {
  font-size: 16px;
  color: #000;
}

.spot-map {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 50%;
  padding: 0px;
  margin: 0px;
}
.spot-list {
  display: block;
  width: 50%;
  padding: 0% 2%;
}
