#test {
  color: blue;
}

#map {
  width: 50%;
  height: 400px;
  background-color: grey;
}

.main-search {
  margin: 12% 10%;
}

.trip-card {
  margin: 0% 0%;
}

.row.match-my-cols {
    overflow: hidden;
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.card-height {
  height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#experience {
  padding-left: 15px;
}

.div.ais-SearchBox__wrapper {
  max-width: 100%;
}

form.ais-SearchBox__root {
  max-width: 100%;
}

input.ais-SearchBox__input {
  font-size: 26px;
  height: 54px;
}